/* Loader Component Styles */

.loader-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1300;
}

.loader-inline {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.loader-content {
  text-align: center;
}

.loader-message {
  margin-top: 16px;
}
